body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'EB Garamond', serif;
}

.header { 
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    align-items: space-between;
}

.logo img {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    gap: 10px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.head-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

.head-bottom-row {
    display: flex;
    gap: 35px; 
    padding: 100px;
    flex: 1;
}

#hero-bottom-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    align-items: flex-start;
    flex: 1;
}

#hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

#hero-sub-text {
    font-size: 18px;
    color: #E5E7EB;
}

#hero-button {
    background-color: #3b82f6;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
}

.hero-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.info { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

#info-container {
    display: flex;
    gap: 20px;
    padding: 20px 100px;
}

.info-card {
    border: 3px solid #3b82f6;
    flex: 1;
    overflow: hidden;
    border-radius: 6px;
}

.info-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.quotes { 
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 70px 110px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
}

.cta { 
    display: flex;
}

.footer { 
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    padding: 20px;
    font-weight: 700;
}
